{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center mb-4">Détails du Véhicule</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ vehicule.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Marque</th>
                    <td>{{ vehicule.marque }}</td>
                </tr>
                <tr>
                    <th scope="row">Modèle</th>
                    <td>{{ vehicule.modele }}</td>
                </tr>
                <tr>
                    <th scope="row">Immatriculation</th>
                    <td>{{ vehicule.immatriculation }}</td>
                </tr>
                <tr>
                    <th scope="row">Kilométrage</th>
                    <td>{{ vehicule.kilometrage }}</td>
                </tr>
                <tr>
                    <th scope="row">Statut</th>
                    <td>{{ vehicule.statut }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_vehicule_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-warning">Modifier</a>
        </div>

        {{ include('vehicule/_delete_form.html.twig') }}
    </div>
{% endblock %}
