{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {% if form_errors(form) %}
            <div class="invalid-feedback">
                {{ form_errors(form) }}
            </div>
        {% endif %}
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
